body {
    margin: 0 auto;
}

@media screen and (min-width: 1024px ) {
    .promo {
        background-image: url(../img/Rectangle\ 1.jpg);
        background-repeat: no-repeat;
        background-position:center;
        height: 663px; 
    } 
    
    .container {
        box-sizing: border-box;
        max-width: 1180px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;  
    }

    /* TOP PROMO */

    .top_promo {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 0 5px; 
    }

    .top_promo_left {
        display: flex;
        width: 425px;
        height: 91px; 
    }

    .top_promo_left img {
        max-width:77.57px;
        max-height: 80.56px;
    }

    .top_promo_left .text {
        font-family: 'Sofia Sans', sans-serif;
        font-weight: 400;
        font-size: 38px;
        color: #46B1DE;
        padding-left: 7px;
        padding-top: 10px;
        max-width: 315px;
        max-height: 53px;
        line-height: 33px; 
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    } 

    .top_promo_left .text span  {
        font-family: 'Sofia Sans', sans-serif;
        font-weight: 400;
        font-size: 26px;
        color: #46B1DE;
        max-width: 84px;
        max-height: 38px;  
    } 

    .top_promo_center {
        display: flex;
        justify-content: space-between;
        width: 300px;
        height: 19px;
        padding-top: 5px;
        
    }

    .top_promo_center .main {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #1B1D1F;
        line-height: 19px;  
    } 

    .top_promo_right {
        display: flex;
        width: 174px;
        height: 24px;
        justify-content: end;
        align-items: center;  
        padding-top: 0;
    }

    .top_promo_right img {
        height: 24px;
        width: 24px;
    }
    
    .top_promo_right a {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        padding-left: 5px; 
        color: #1B1D1F;
    }

    .top_promo_language {
        display: flex;
        justify-content: space-between;
        width: 77px;
        height: 23px;
        padding-top: 17px; 
        align-items: center;
    }

    .top_promo_language .text {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #1B1D1F;
    }

    .top_promo_language img {
        max-width: 100%;
    }

    .top_promo_language .text1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #1B1D1F;
    }

    /* MAIN PROMO */

    .main_promo {
        display: flex;
        justify-content: start;
        padding: 0;
    }

    .main_promo_top {
        display: flex;
        justify-content: start;
        padding-top: 34px;
        padding-left: 0;
        width: 530px;
        height: 158px; 
    }
    
    .main_promo_top .text {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: start;
        color: #1B1D1F;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-shadow: none;   
    }
    
    .main_promo_top .text span {
        color: #46B1DE;
    }

    .main_promo_bottom {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-left: 0px;
        width: 464px;
        height: 66px;
    }
    
    .main_promo_bottom .text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: start;
        color: #1B1D1F;
    }

    /* FOOTER PROMO */

    .footer_promo {
        display: flex;
        justify-content: space-between;
        width: 480px;
        height: 60px;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;   
    }
    
    .footer_promo_buttom1 {
        width: 180px;
        height: 60px;
    }
    
    .footer_promo_buttom1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 19px;
        text-align: center;
        line-height: 27px;
        text-transform: uppercase;
        background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
        box-shadow: 0px 1.14444px 5.72222px #46B1DE;
        border-radius: 4.57778px;
        /* border: 1px solid rgb(0, 0, 0, 0); */
        padding: 7.5px 8px;  
    }
    
    .footer_promo_buttom1 {
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .footer_promo_buttom2 {
        width: 180px;
        height: 60px;
    }
    
    .footer_promo_buttom2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 19px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 2px 10px #DDE0DC;
        border-radius: 8px;
        /* border: 1px solid rgb(0, 0, 0, 0); */
        padding: 7.5px 8px;  
    }
    
    .footer_promo_buttom2  {
        text-decoration: none;
        color: #46B1DE;
    }

    .img_promo img {
        position: absolute;
        width: 572px;
        padding: 0;
        top: 103px;
        left: 450px;
        right: 0;
    }

    /* POD PROMO */

    .pod_promo {
        display: flex;
        justify-content: space-between;
        width: 979px;
        height: 120px;
        padding-top: 72px;
        margin: 0 auto;
    }
    
    .pod_promo_left {
        width: 280px;
        height: 120px;
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        align-items: center;
    }

    .pod_promo_left .number {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 65px;
        line-height: 76px;
        color: #46B1DE;  
        width: 93px;
        text-align: center;
    }
    
    .pod_promo_left .text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #1B1D1F;      
        width: 146px;
        height: 64px;  
        padding-left: 7px;    
    }

    .pod_promo_center {
        width: 280px;
        height: 120px;
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        align-items: center;
    }

    .pod_promo_center .number {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 65px;
        line-height: 76px;
        color: #46B1DE;  
        width: 133px;
        text-align: center;
        padding-left: 4px;
    }

    .pod_promo_center .text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #1B1D1F;      
        width: 114px;
        height: 32px;  
        padding-left: 3px;    
    }

    .pod_promo_right {
        width: 280px;
        height: 120px;
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        align-items: center;
    }

    .pod_promo_right .number {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 65px;
        line-height: 76px;
        color: #46B1DE;  
        width: 96px;
        text-align: center;
    }

    .pod_promo_right .text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #1B1D1F;      
        width: 125px;
        height: 48px;  
        padding-left: 7px;    
    }







}

