body {
    margin: 0 auto;
}

/* HEADER 1  */

.promo {
    background-image: url(../img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position:right;
    height: 568px;
}

.top_promo {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.top_promo_left {
    display: flex;
    width: 183px;
    height: 39.16px; 
}

.top_promo_left img {
    max-width: 33.39px;
    max-height: 34.67px;
}

.top_promo_left .text {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    font-size: 16.6926px;
    color: #46B1DE;
    padding-left: 5px;
    max-width: 129px;
    max-height: 23px;
    line-height: 14px;
} 

.top_promo_left .text span  {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    font-size: 11.5564px;
    color: #46B1DE;
    max-width: 36px;
    max-height: 16px;  
} 

@media screen and (max-width:768px) {
    .top_promo_center {
        display: none;
    }
}

.top_promo_right {
    display: flex;
    width: 127px;
    height: 15px;
    padding-right: 7px;
}

.top_promo_right img {
    height: 15px;
    width: 15px;
    padding-top: 5px;
}

.top_promo_right a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    padding-left: 5px; 
    color: black; 
}

@media screen and (max-width:768px) {
    .top_promo_language {
        display: none;
    }
}

/* MAIN 1 */

.main_promo {
    display: flex;
    justify-content: center;
}

.main_promo_top {
    display: flex;
    justify-content: center;
    padding-top: 46.85px;
    width: 284px;
    height: 89px; 
}

.main_promo_top .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #1B1D1F;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.main_promo_top .text span {
    color: #46B1DE;
}

.main_promo_bottom {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 282px;
    height: 68px;
}

.main_promo_bottom .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #1B1D1F;
}

/* FOOTER 1 */

.footer_promo {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer_promo_buttom1 {
    width: 100px;
    height: 35px;
}

.footer_promo_buttom1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 1.14444px 5.72222px #46B1DE;
    border-radius: 4.57778px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    padding: 7.5px 8px;  
}

.footer_promo_buttom1 {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_promo_buttom2 {
    width: 100px;
    height: 35px;
}

.footer_promo_buttom2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 2px 10px #DDE0DC;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    padding: 7.5px 8px;  
}

.footer_promo_buttom2  {
    text-decoration: none;
    color: #46B1DE;
}

.img_promo img {
    margin: 0 auto;
    display: block;
    width: 208px;
    padding-top: 42px;
    padding-left: calc(50vw-204px);
    padding-right: calc(50vw-204px);
}

.pod_promo {
    display: none;
}

/* CHOOSE 1 */

.top_choose {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 300px;  
    text-align: center;  
}

.top_choose_top .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #1B1D1F;    
}

.top_choose_top .text span {
    color: #46B1DE;
}

.top_choose_bottom {
    padding-top: 10px;
}

.top_choose_bottom .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #1B1D1F;
}

/* MOD CHOOSE */

.mod_choose {
    margin: 0 auto;
    max-width: 250px;
    min-height: 800px;
    display: flex;
    justify-content: center;
    text-align: start;
    padding: 10px;
    background-color: #A1C7D4;
    border-radius: 15px;
}

.mod_choose_side1,
.mod_choose_side2,
.mod_choose_side3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 250px;
}

.mod_choose_frame {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mod_choose_frame .frame {
    width: 200px;
    height: 105px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 5px 5px 10px 15px
}

.mod_choose_frame .frame .mod {
    display: flex;
    max-width: 120px;
    align-items: center;
    color: #46B1DE;
}

.mod_choose_frame .frame .interests {
    display: flex;
    max-width: 180px;
    align-items: center;
    color: #46B1DE;
}
 .mod1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #46B1DE;
}

 .mod2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #46B1DE;
    padding-left: 10px;
}

.mod3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #1B1D1F;
    line-height: 13px;
    padding-top: 15px;
}

/* MAKE CHOOSE */

.make_choose {
    padding: 10px;
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 260px;
    text-align: center;
    margin: 30px auto; 
}

.make_choose_blo {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 240px;
    justify-content: space-between;
    text-align: center;  
}

.make_choose_block .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1B1D1F;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.make_choose_block .word {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #1B1D1F;
    line-height: 10px;
    text-align: center;
}

.make_choose_buttom {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.make_choose_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 105px;
}

.make_choose_but {
    margin: 0 auto;
    display: flex;
    width: 210px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 2px 8px;
}

.make_choose_but img {
    max-width: 10%;
    
}

.make_choose_sing {
    margin: 0 auto;
    display: flex;
    width: 226px;
    height: 44px;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    background-color: #46B1DE;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.make_choose_photo {
    margin: 0 auto;
    display: flex;
    width: 250px;
    height: 400px;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 30px;
}


/* FOOTER1 */

.footer {
    height: 568px;
    background: linear-gradient(180deg, #A1C7D4 0%, #0680AA 100%);
}

.top_footer_top {
    display: flex;
    width: 305px;
    height: 65px;
    padding-left: 8px;
    padding-top: 30px;
    align-items: center;
}

.top_footer_top img {
    width: 55px;
    height: 57px;
}

.top_footer_top .text {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #0F2D4A;
    line-height: 20px;
    padding-left: 5px; 
}

.top_footer_top .text span {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #0F2D4A;  
}

.top_footer_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
.top_footer_left {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.top_footer_main {
    display: flex;
    padding-top: 21px;
    justify-content: space-between;
    flex-direction: column;
    width: 54px;
    height: 52px;
}
 
.top_footer_main span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #0F2D4A;
}

.top_footer_botton {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    width: 53px;
    height: 16px;
}

.top_footer_botton .text1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.top_footer_botton .logo {
    max-width: 100%;
}

.top_footer_botton .text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.top_footer_right {
    display: flex;
    flex-direction: column;
}

.top_footor_time {
    display: flex;
    padding-top: 47px;
    padding-right: 42px;
    padding-left: 3.5px;
}

.top_footor_time span {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.top_footer_days {
    padding-top: 5px;
    width: 69px;
    height: 38px;
}

.top_footer_days span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #0F2D4A;
}

.main_footer_contacts {
    display: flex;
    width: 108px;
    height: 25px;
    padding-top: 44px;
    padding-left: 12px; 
}

.main_footer_contacts span {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.main_footer_name {
    display: flex;
    width: 250px;
    height: 23px;
    padding-top: 26px;
    padding-left: 10px; 
}

.main_footer_name span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}

.main_footer_street {
    display: flex;
    width: 185px;
    height: 23px;
    padding-top: 13px;
    padding-left: 10px; 
}

.main_footer_street span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}

.main_footer_tel {
    display: flex;
    justify-content: space-between;
    width: 195px;
    height: 23px;
    padding-top: 26px;
    padding-left: 12px; 
}

.main_footer_tel span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}

.main_footer_soc {
    display: none;
}

.main_footer_insta {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 23px;
    padding-top: 13px;
    padding-left: 12px; 
}

.main_footer_insta span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}

.main_footer_email {
    display: flex;
    justify-content: space-between;
    width: 215px;
    height: 23px;
    padding-top: 13px;
    padding-left: 10px;
}

.main_footer_email span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}

.main_footer_2022 {
    display: flex;
    justify-content: end;
    height: 15px;
    padding-top: 36px;
    padding-right: 44px;
}

.main_footer_2022 span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding-left: 5px;
}